#page_break {
}
#page_break .collapse {
	display: none;
}
#page_break .num {
	padding: 10px 0;
	text-align: center;
}

#page_break .num a {
	background: none repeat scroll 0 0 #777777;
	color: #FFFFFF;
	font-family: "Arial";
    font-weight: bold;
	border: 1px solid #E2E2E2; display: inline-block;
	margin-right: 7px;padding: 6px 10px;text-decoration: none;
}

#page_break .num span{
	background: none repeat scroll 0 0 #777777;
	color: #FFFFFF;
	font-family: "Arial";
    font-weight: bold;
    border: 1px solid #E2E2E2; display: inline-block;margin-right: 7px;
    padding: 6px 10px;text-decoration: none;cursor: pointer;
}

#page_break .num .highlight{
	background: none repeat scroll 0 0 #3973A6;
	border: 1px solid #E2E2E2; display: inline-block;
	margin-right: 7px;padding: 6px 10px;text-decoration: none;
}

#page_break .num .highlight2{
	background: none repeat scroll 0 0 #3973A6;
	border: 1px solid #E2E2E2; display: inline-block;
	margin-right: 7px;padding: 6px 10px;text-decoration: none;
}