@charset "utf-8";
/* CSS Document */

html, body {height: 100%;}

body {background: none repeat scroll 0% 0% #FFFFFF;font-family:"微软雅黑""宋体" ,;font-size: 12px;margin: 0px;padding: 0px;}
hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin: 0px;padding: 0px;}
select, textarea, input { background: none repeat scroll 0% 0% transparent;border: 0px none;}

ul, ol, li, dl, dd, dt {list-style: none outside none;}

input, select, img {outline-style: none;vertical-align: middle;}

h1, h2, h3, h4, h5, h6 { margin: 0px;padding: 0px;}

table {border-collapse: collapse;border-spacing: 0px;}

em, i {font-style: normal;}

img {border: 0px none;outline-style: none;}

.fl {float: left;}

.fr {float: right;}

.cl {background: none repeat scroll 0% 0% transparent; clear: both;height: 0px; line-height: 0; overflow: hidden; width: 0px;}

.clearfix:after {clear: both;content: "."; display: block; height: 0px; visibility: hidden;}

.clearfix {zoom:1}
a {color:#000;text-decoration:none;cursor:pointer}

a:hover {text-decoration:underline;color:#ff9000}
.fl{ float:left}
.fr{ float:right}

/*---toolbar 头部 S---*/
.toolBarWrap{ position:relative; z-index:100; height:37px; line-height:37px; background-color:#f4f4f4; border-top:3px solid #054b87; border-bottom:1px solid #dddddd;}
.toolbar{ width:980px; margin:0 auto;}
.toolbar .cL{ float:left;}
.toolbar a{ color:#1b1b1b;font-family: "微软雅黑";}
.toolbar a:hover{color:#ff9000}
.toolbar .modSel1{ float:left; height:37px; position:relative; margin-right:22px; display:inline;} 
.toolbar .modSel1 a{ padding-right:13px; background:url(../images/cArrowb.png) no-repeat right center;}
.toolbar .modSel1 a:hover{color:#ff9000}
.toolbar .modSel1 .option{ position:absolute; top:35px; padding-top:10px; left:0;display:none}
.toolbar .modSel1 .option ul{ width:90px; text-align:center; overflow:hidden; zoom:1; color:#1b1b1b; font-family:\5B8B\4F53; border:2px solid #556fb5; background-color:#FFF;}
.toolbar .modSel1 .option li{ margin-top:-1px; white-space:nowrap; cursor:pointer; line-height:36px; border-top:1px solid #dddddd;}
.toolbar .modSel1 .option li a{ display:block; height:100%; padding-right:0; background:none;}
.toolbar .modSel1 .option li a:hover{ text-decoration:none; background:#dddddd;color:#ff9000}
.toolbar .subNav{ float:right;}
.toolbar .subNav li{ position:relative; float:left;}
.toolbar .subNav li a{ display:inline-block;float:left;font-family: "微软雅黑";}
.toolbar .subNav li a:hover{color:#ff9000}
.toolbar .subNav li span{ display:inline-block;  height:12px; margin:0 10px; float:left;color:#dddddd}
.toolbar .subNav .s{ height:31px; overflow:hidden; padding-top:6px;}
.toolbar .subNav .s a{ float:left; width:25px; height:25px; text-indent:-9999px; margin-right:10px; display:inline;}
.toolbar .subNav .s a span{ display:none;}
.toolbar .subNav .s .mail{ background:url(../images/cSprite_icon.png) no-repeat}
.toolbar .subNav .s .slwb{ background:url(../images/cSprite_icon.png) no-repeat -35px 0}
.toolbar .subNav .s .tcwb{ margin-right:0; background:url(../images/cSprite_icon.png) no-repeat -70px 0;}
.cLoginBox{ line-height:normal; position:absolute; top:40px; left:0; width:206px; padding:10px 20px; border:2px solid #556fb5; background-color:#FFF;}
.cSD{
-webkit-box-shadow:3px 3px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow:3px 3px 0 rgba(0, 0, 0, 0.2);
-ms-box-shadow:3px 3px 0 rgba(0, 0, 0, 0.2);
-o-box-shadow:3px 3px 0 rgba(0, 0, 0, 0.2);
box-shadow:3px 3px 0 rgba(0, 0, 0, 0.2);
}
.cLoginBox .close{ position:absolute; right:10px; top:10px; width:12px; height:12px; text-indent:-9999px; overflow:hidden; background-position:-193px -23px;}
.cLoginBox h3{ margin-bottom:5px; color:#666666;}
.cLoginBox ul{ overflow:hidden; zoom:1; margin-bottom:10px; border-bottom:1px solid #dddddd;}
.cLoginBox li{ float:none!important; margin-bottom:10px;}
.cLoginBox li .forget{ float:right; line-height:28px;}
.cLoginBox li label input{ vertical-align:-2px; margin-right:3px;}
.cLoginBox .errorWrap{ height:28px; margin-bottom:3px;}
.cLoginBox .error{ height:23px; line-height:23px; padding:0 10px 0 27px; color:#eb0000; background-color:#faf7ed; border:2px solid #f1e2cb; background-position:-352px 4px;}
.cLoginBox .txt{ width:194px; height:18px; padding:5px; line-height:18px; border:1px solid #cccccc; background:url(../images/cInputBg.png) no-repeat 0 0;}
.cLoginBox .btn{ width:60px; height:28px; vertical-align:middle; cursor:pointer; margin-right:5px; background-color:#ff9000; border:0 none; color:#FFF; line-height:28px;}
.cLoginBox .btn:hover{ background-color:#ff0000;}
.cLoginBox a{ color:#004276;}
.header{background:#f4f4f4;border-bottom:1px solid #dddddd}
.mail{ width: 980px; margin: 0 auto;overflow:hidden}
.sun_index_nav{overflow: hidden;padding:12px 0;width: 980px;}
.sun_index_nav ul{ float: left;}
.sun_index_nav ul li{float: left; }
.sun_index_nav ul li i{padding:0 3px 0 0px;color:#dedede;font-size:14px}
.sun_index_nav ul li a{ color: #2B2B2B;font-size: 12px;font-family: "微软雅黑"}
.sun_index_nav ul li a:hover{color:#ff9000}
.sun_index_nav h3{float: right;font-size: 12px;font-weight: bold}
.sun_index_nav h3 a{color: #BA2636;padding-right: 10px}
.sun_index_nav h3 a:hover{color:#ff9000}
.news_listlogo{ float: left;margin-bottom: 5px;width: 980px;}
.listlogo_1{float: left;margin-top: 10px}
.logo{float:left}
.listlogo_1 span{width:1px;height:36px;background:url(../images/bor1.jpg) no-repeat 0 8px;float:left;margin:3px 10px}
.listlogo_1 .jl-pic{float:left;font-size:36px;font-weight:bold;color:#dc0f0f;padding-top:8px}
.sun-search{display:inline;float: right;background:url(../images/seacher-box.jpg) no-repeat;width:290px;height:30px;margin-top:14px;}
.sun-search:hover{background:url(../images/seacher-box1.jpg) no-repeat}
.sun_search_case{width:199px;height:28px;line-height:28px;padding:0 10px;float:left}
.sun_search_but{width:68px;height:28px;line-height:28px;text-align:center;font-weight:bold;color:#535353;cursor:pointer}
.nav{border-top:4px solid #054B87;width:980px;height:39px;margin:0 auto;border-right:1px solid #dddddd;border-left:1px solid #dddddd;}
.nav ul{border-right:1px solid #f00000}
.nav ul li{display:inline;height:39px;line-height:39px;float:left;border-left:1px solid #FFF;border-right:1px solid #dddddd;font-weight:bold;position:relative; z-index:3;}
.nav ul li a{display:block;padding:0 18px;font-size:14px;color:#424242;font-family: "微软雅黑";}
.nav ul li.cur{height:40px;margin-bottom:-1px;background:#FFF;border-bottom:1px solid #FFF;}

.main{width:980px;margin:3px auto}
.sideBar-left{width:674px;padding-right:14px;border-right:1px solid #dddddd;float:left}
.zt_box{border-bottom:3px solid #dddddd;padding:20px 0px 30px 0;height:200px;}
.zt_box dd{width:300px;height:200px;float:left;}
.zt_box dt{width:355px;height:200px;float:left;padding-left: 15px;background:url(../images/zt_bg.jpg) repeat-x}
.zt_box dt .hot_top{width:135px;height:22px;background:#dc0f0f;color:#FFF;line-height:22px;font-size:12px;font-family:"微软雅黑";text-align:center}
.zt_box dt h2{font-size:20px;font-family:"微软雅黑";padding:10px 0;}
.zt_box dt h2 a{color:#000000;}
.zt_box dt h2 a:hover{color:#ff9000}
.zt_box dt p{width:338px;height:58px;overflow:hedden;text-overflow:ellipsis;line-height:20px;color:#666666;padding-bottom:10px}
.zt_box dt p a{color:#eb0000}
.zt_box dt p a:hover{color:#ff9000}
.zt_box dt span{font-size:12px;font-family:"Arial";color:#a5a5a5}
.zt-content{padding:20px 0;border-bottom:1px solid #eeeeee;overflow:hidden}
.zt-content h3{font-size:16px;padding-bottom:16px;font-family:"微软雅黑";font-weight:normal}
.zt-content h3 span{width:77px;height:22px;line-height:22px;text-align:center;background:#dc0f0f;color:#FFF;font-size:16px;font-family:"微软雅黑";padding:0 10px}
.zt-content h3 a{color:#333333;font-family:"微软雅黑"}
.zt-content h3 a:hover{color:#ff9000}
.zt_text{overflow:hidden;}
.zt_pic{float:left;margin-right:15px;}
.zt_pic a{width:120px;height:80px;border:1px solid #CCC;background:#eeeeee;display:block;text-align:center;display: table-cell;vertical-align:middle;}
.zt_msg{}
.zt_msg p{line-height:20px;color:#666666;font-size:12px;font-family:"宋体"}
.zt_msg p a{color:#eb0000}
.zt_msg p a:hover{color:#ff9000}
.zt_info{padding-top:5px}
.zt_info span{font-size:12px;font-family:"宋体"}
.zt_info span em{color:#999999;font-family:"微软雅黑";font-size:12px}
.zt_info span a{color:#004276;margin-right:5px}
.zt_info b{font-weight:normal;background:#ff9000;float:right;padding:2px 5px;height:20px;line-height:20px}
.zt_info b a{color:#FFF;font-size:12px;font-family:"宋体";}


/* .black-box {overflow:hidden} */

.black{padding: 3px 10px;width:654px;margin:20px auto 0;}
.black span.current a {background: none repeat scroll 0 0 #e60012;border: 1px solid #E2E2E2;color: #FFFFFF;display: inline-block;}
.black A {border: 1px solid #E2E2E2; display: inline-block;margin-right: 7px;padding: 6px 10px;text-decoration: none}
.black A:hover{background:#e60012;border:1px solid #CCC;color:#FFF}
.black A:active{background:#e60012;border:1px solid #CCC;color:#FFF}
.sideBar-right{padding-top:7px;float:right;width:291px}
.banner-img{width:280px;height:210px;margin:0 0 10px 10px }
.tmg{height:18px;padding:15px 10px;border-top:1px solid #dddddd;font-size:16px}
.tmg a{color: #1B1B1B;font-family: "微软雅黑";font-size: 16px;font-weight: normal;}
.list-1{padding:0 0 15px 10px;overflow:hidden;height:80px}
.list-1 dd{width:120px;height:80px;float:left;margin-right:10px}
.list-1 dt{width:150px;float:left}
.list-1 dt h3{font-size:14px;font-weight:normal;color:#2b2b2b;margin-bottom:5px;font-family:"微软雅黑"}
.list-1 dt h3 a{color:#2b2b2b}
.list-1 dt h3 a:hover{color:#ff9000}
.list-1 dt p{color:#666666;line-height:20px}
.list-1 dt p a {color: #BA2636;}
.list{width:277px;height:101px;background:#f1f2f4;border:1px solid #dddddd; margin: 0 0 15px 10px}
.list li{background:url(../images/bot.jpg) no-repeat 10px 12px;padding-left:23px;line-height:24px ;font-family:"微软雅黑"}
.list li a{color:#205987}
.list li a:hover{color:#ff9000}
.hot-new{padding:0 0 15px 10px;}
.hot-new li{height:34px;border-bottom:1px dashed #dddddd;padding-left:27px;position:relative;line-height:34px;font-family:"微软雅黑"}
.hot-new li.last{border:none}
.hot-new li span{display:block;width:18px;height:18px;line-height:18px;text-align:center;background:url(../images/nuber2-bg.jpg) no-repeat;position:absolute;left:4px;top:8px;color:#FFF;}
.hot-new li span.hot-tow{background:url(../images/nuber-bg.jpg) no-repeat;}
.hot-new li a{color:#225b88}
.hot-new li a:hover{color:#ff9000}
.list-2{padding:0 0 15px 10px;}
.list-2 h4{font-size:12px;padding-bottom:10px;color:#004276}
.list-2 h4 a{color: #004276;font-family: "微软雅黑";font-size: 14px;}
.list-2 h4 a:hover{color:#ff9000}
.img-box{float:left;margin-right:10px}
.list-2 p{font-size:12px;color:#666666;line-height: 20px} 
.list-2 p a{color:#ba2636}
.list-2 p a:hover{color:#ff9000}
.admire{padding-top:10px ;border:1px solid #dddddd;background:#f1f2f4;margin:0 0 15px 10px;overflow:hidden}
.admire a{width:120px; margin: 0 0 15px 10px;float:left;}
.admire a:hover{color:#ff9000}
.admire a img{margin-bottom:10px}
.list-img{width:280px;height:210px; margin: 0 0 15px 10px;}
.pic{width:980px;height:90px;margin:34px auto 15px }


/*回到头部*/

*{ padding:0px; margin:0px;}
*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
#tbox{width:54px; position:fixed; left: 50%;margin-left: 500px; bottom:30px;
_position:absolute;
_bottom:auto;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
_margin-bottom:15px;
}/*解决IE6下不兼容 position:fixed 的问题*/
#pinglun,#xiangguan,#gotop{ width:54px; height:56px; background:url(../images/side-bg.jpg) no-repeat; display:block;margin-bottom: 5px;color:#FFF;text-decoration:none;opacity: 0.6; overflow: hidden;text-align: center;transition:opacity 0.5s ease 0s;}
#tbox a:hover{opacity:1}
#pinglun{ background-position:0 0;}
#xiangguan{ background-position:0 -61px;font: 14px/20px arial;height: 20px;margin-bottom: 5px;padding: 38px 0 4px;text-align: center}
#gotop{ background-position:0 -122px;position:relative} 


/*页脚*/

/*---cFooterInfor S---*/
.cFooterInfor{background-color:#f4f4f4; border-top:1px solid #dddddd;font-family:"微软雅黑"}
.cInfor{ width:980px; margin:0 auto; overflow:hidden; zoom:1; color:#535353;}
.cInfor a{ white-space:nowrap; color:#666666;}
.cInfor a:hover{color:#ff9000}
.cInfor .col1,
.cInfor .col2,
.cInfor .col3{ float:left; padding:20px 10px 10000px 20px; margin-bottom:-10000px; border-left:1px solid #dddddd; display:inline;}
.cInfor .col1{ width:340px; margin-left:-21px;}
.cInfor .col2{ width:295px;}
.cInfor .col3{ width:273px;}
.cInfor .dlList{ overflow:hidden; zoom:1; margin-bottom:15px; }
.cInfor .dlList dt{ font-size:16px; color:#262626; margin-bottom:10px; }
.cInfor .dlList dd{ float:left; margin-right:10px; margin-bottom:10px; display:inline;}
.cInfor .col2 .dlList dd{ width:128px;}
.cInfor .col3 p{ padding:5px 0;}
.cInfor .col3 .s{ overflow:hidden; zoom:1; margin-bottom:10px;}
.cInfor .col3 .s input{ float:left;}
.cInfor .col3 .s .txt{ width:190px; height:18px; padding:5px; line-height:18px; border:1px solid #cccccc; background:url(../images/cInputBg.png) no-repeat 0 0;font-family:"微软雅黑"}
.cInfor .col3 .s .btn{ margin-left:-1px; border:1px solid #CCC; cursor:pointer; width:68px; height:30px; background:url(../images/cSprite_icon.png) no-repeat -277px 0; font-size:0; line-height:99px;}
.cFooterWrap{ background-color:#535353;font-family:"微软雅黑"}
.cFooter{ width:980px; margin:0 auto; height:44px; line-height:44px; overflow:hidden; zoom:1; color:#FFF;}
.cFooter p{float:left;}
.cFooter div{float:right; white-space:nowrap;}
.cFooter div a{ color:#FFF; margin:0 5px;}
.cFooter div a:hover{color:#ff9000}
